.resume {
  height: 145vh;
  width: 50%;
  border: "none";
  background-color: "transparent";
}
.resumeSection {
  position: relative;
  height: 100vh;
  color: white;
  padding-top: 10rem;
}
.resumeContainer {
  display: flex;
  justify-content: center;
}
