:root {
  --background: #ffffff;
  --foreground: #171717;
  cursor: none;
  overflow-x: none;
  --font-share: @import
      url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap"),
    sans-serif;
  font-family: var(--font-share);
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}
html {
  scroll-behavior: smooth;
}
body {
  -ms-overflow-style: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Gabarito, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#body-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -99;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
